/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import "tailwindcss";
.main-bg{
  background-color: #1c1c1c;
}
body{
  background-color: black;
  transition: background-color 0.8s ease;
}
/*
circle
*/
.expanding-circle {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #e4f5b3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expandOut 0.8s ease forwards;
  z-index: 10;
}

@keyframes expandOut {
  to {
    width: 2000px;
    height: 2000px;
  }
}
@keyframes subtle-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.custom-bounce {
  animation: subtle-float 4s ease-in-out infinite;
}
